# Nanit user credentials (as entered during Nanit cam registration) 
NANIT_EMAIL=xxxx@xxxx.tld
NANIT_PASSWORD=xxxxxxxxxx

# Logging level (default: info)
# Allowed values: trace | debug | info | warn | error | fatal | panic
# NANIT_LOG_LEVEL=debug

# Session file (optional)
# Stores state between runs, useful for rapid development so that we don't get
# flagged by auth. servers for too many requests during application reruns.
#
# Warning: The file contains sensitive information (auth tokens, etc.).
#  It is recommended to only use it during development.
NANIT_SESSION_FILE=data/session.json

# Command for remote stream processing
# Use this to override default behaviour of publishing HLS stream
# You can use placeholders:
# - {sourceUrl} - replaced with URL of the remote stream
# - {babyUid} - replaced with UID of the Baby
#
# Default: "ffmpeg -i {sourceUrl} -codec copy -hls_time 1 -hls_wrap 10 -hls_flags delete_segments -hls_segment_filename {babyUid}-%02d.ts {babyUid}.m3u8"
# NANIT_RMT_STREAM_CMD=